# Compiled output
dist/
tmp/
out-tsc/
bazel-out/
.analog/
.nitro/

# Node
*/node_modules/
*/npm-debug.log
*/yarn-error.log
*/package-lock.json.lock

# IDEs and editors
*/.idea/
*/.project
*/.classpath
*/.c9/
*.launch
*/.settings/
*.sublime-workspace
*/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!*/.vscode/extensions.json
.history/*

# Angular/NX
.angular/
.nx/

# System files
.DS_Store
Thumbs.db

# Environment files
.env*

